.approach {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  padding: 40px 20px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  animation: fadeIn 1s ease-in-out;
}

.subheading {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: var(--scnd-bg-color);
  border-radius: 30px;
}

.text {
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: var(--scnd-bg-color);
}
